<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListOfUsers</key>
	<array>
		<dict>
			<key>user</key>
			<dict>
				<key>username</key>
				<string></string>
				<key>email</key>
				<string></string>
				<key>password</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<key>detail</key>
			<dict>
				<key>dummyDataAttrib1</key>
				<string></string>
				<key>dummyDataAttrib2</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>user</key>
			<dict>
				<key>username</key>
				<string></string>
				<key>email</key>
				<string></string>
				<key>password</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<key>detail</key>
			<dict>
				<key>dummyDataAttrib1</key>
				<string></string>
				<key>dummyDataAttrib2</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
