<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListOfUsers</key>
	<array>
		<dict>
			<key>user</key>
			<dict>
				<key>id</key>
				<string>24</string>
				<key>username</key>
				<string>wilma</string>
				<key>password</key>
				<string>wilma</string>
				<key>email</key>
				<string>john.doe@company_domain.com</string>
				<key>name</key>
				<string>Wilma Smith</string>
				<key>isFirstTimeUser</key>
				<true/>
				<key>age</key>
				<string>70</string>
			</dict>
			<key>detail</key>
			<dict>
				<key>dummyDataAttrib1</key>
				<string></string>
				<key>dummyDataAttrib2</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>user</key>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>username</key>
				<string>fredrick</string>
				<key>password</key>
				<string>fredrick</string>
				<key>email</key>
				<string>walter.white@company_domain.com</string>
				<key>name</key>
				<string>Fredrick Smart</string>
				<key>isFirstTimeUser</key>
				<false/>
				<key>age</key>
				<string>73</string>
			</dict>
			<key>detail</key>
			<dict>
				<key>dummyDataAttrib1</key>
				<string></string>
				<key>dummyDataAttrib2</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>user</key>
			<dict>
				<key>id</key>
				<string>27</string>
				<key>username</key>
				<string>professor</string>
				<key>password</key>
				<string>12345</string>
				<key>email</key>
				<string>sergio.marquina@company_domain.com</string>
				<key>name</key>
				<string>Sergio Marquina</string>
				<key>isFirstTimeUser</key>
				<false/>
				<key>age</key>
				<string>34</string>
			</dict>
			<key>detail</key>
			<dict>
				<key>dummyDataAttrib1</key>
				<string></string>
				<key>dummyDataAttrib2</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
